<!DOCTYPE html>
<html>
<head>
<scrips src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></scrips>
</head>
<body>
    <hl>Flask Chatbot</hl>
    <div>
        <div id="chatbot">
            <p class="botText"><span>Hola! Soy tu Chatterbot.</span></p>
        </div>
        <div id= "userInput">
            <input id="textInput" type="text" name="msg" placeholder="Message">
            <input id="buttonInput" type="submit" value="Send">
        </div>
        <script>
            function getBotResponse(){
                var rawText=$("#textInput").val();
                var userHtml='<p class="userText"><span>'+rawText+'</span></p>';
                $("#textInput").val("");
                $("#chatbox").append(userHtml);
                document.getElementById('userInput').scrollIntoView({block:'start',behavior:'smooth'});
                $.get("/get",{msg:rawText}).done(function(datos){
                    var botHtml='<p class="botText"><span>'+datos+'</span></p>';
                    $("#chatbox").append(botHtml);
                    document.getElementById('userInput').scrollIntoView({block:'start',behaviour:'smooth'});
                });
            }
            $("textInput").keypress(function(e){
                if(e.wich==13){
                    getBotResponse();
                }
            });
            $("#buttonInput").click(function(){
                getBotResponse();
            })
        </script>
    </div>   
</body>   
</html>